@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página no encontrada</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    @Styles.Render("~/Content/error")
</head>
<body>
    <div class="error">
        <div class="error-body">
            <h1 class="error-heading">Página no disponible</h1>
            <h4 class="error-subheading">Lo sentimos, la página no está disponible.</h4>
            <p>
                La URL puede estar mal escrita, el módulo puede estar en desarrollo, o no tiene los permisos necesarios.
            </p>
            <p>
                Si cree que ha llegado aquí por nuestro error, por favor <a href="mailto:vneyrat@mre.gob.pe">contáctenos</a>.
            </p>
            <p>&nbsp;</p>
            <p>
                @Html.ActionLink("Regresar a la página inicial", "Index", "Home", null, new { @class = "btn btn-primary" })
            </p>
        </div>
        <div class="error-footer">
            <p>
                <small>© 2018 Ministerio de Relaciones Exteriores del Perú</small>
            </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts-base")
</body>
</html>